h1 {
    display:flex;
    position:absolute;
    color:rgb(255, 255, 255);
    margin-top:  280px;
    margin-left :35%;
    font-weight: bold;
    border:2px solid rgb(255, 255, 255);
    background-color: rgb(87, 180, 255)
    
}


h2{
    color:blue;
text-align:center
}

.pcenter{ 
text-align: center;
}


form {
    display:flex;
    justify-content: center;
    align-items: center;
}

.textarea {
    width: 100px;
    height: 50px;
    text-align: left;
    vertical-align:top
    
}
form {
    text-align: left;
}

.header{
    position:relative;
    background-image: url(img/banniere.png);
    display: flex;
    background-position:center;
    background-size:cover;
    height:300px;
    border-bottom: 3px solid white;

}

.nav1{
    display:flex;
    justify-content:center;
    position: absolute;
    transform:translateX(65%);
    gap: 20px;
    top:20px;
    border-radius:20px;
   transition:background-color 0.3s ease;



    
}
.nav1 a{
    display:inline-block;
    color:black;
    text-decoration : none;
    border-right:1px solid black;
    padding:20px 20px 20px 20px;
text-align:center;
background-color:rgba(35, 155, 199, 0.948);
border-radius:20px;
 border:1px solid rgb(141, 219, 255);

}

.nav1 a:hover {
   
    background-color:rgba(125, 172, 234, 0.682)
}


body {
    margin:0 0 0 0
}

body{
    background-color:rgb(135, 207, 255)
}

footer{ 
    background-color: rgb(8, 78, 134);
}

footer p {
    color:rgb(185, 242, 255)
}

.selfie{
    
     padding-left:150px;
     
}
.moi {
    display:flex;
    border-radius: 50%;
    border:2px solid rgb(255, 255, 255);
 position:relative;
 object-fit:cover;
 margin-top:-50px

}

.boutonselfie {
    display:flex;
    border-radius:25%;
    position:absolute;
    margin-left:55px;
    margin-top:-10px;
    border:1px solid rgb(255, 255, 255);
    background-color:rgb(188, 124, 188);
    padding:5 5 5 5
    
}

.menumobile {
    display:flex;
    
    gap:30px;
     background-color: rgb(52, 144, 197);
     width: 90px;
     height:auto;
     text-decoration: none;
     position:relative;
     flex-direction:column;
     border-radius: 10%;
     padding:20px
     
    }
    .menumobile a {
        border-radius: 25%;
        border-bottom: 1px solid white;
    
        text-decoration: none;
    }

    .bgstyle {
        background-color: rgba(255, 255, 255, 0.564);
        display: flex;
        border-radius:10px;
       justify-content: start;
        align-items: center;
        width:800px;
        height:165px;
        border:3px solid white;
        margin-left:20px;
        margin-top:40px

    }

    .bgstyle h2 {
    text-align: start;
    padding-right:40px;
    padding-left:40px;
    }
    .bgstyle2 {
        background-color: rgba(255, 255, 255, 0.564);
        display: flex;
        border-radius:10px;
        justify-content:start;
        align-items: center;
        width:800px;
        height:165px;
        border:3px solid white;
        margin-left:200px;
        margin-top:40px
    
    }

    .bgstyle2 h2 {
        padding-left:40px;
    padding-right:40px;
     text-align: start;
    }

    .bgstyle3 {
        background-color: rgba(255, 255, 255, 0.564);
        display: flex;
        border-radius:10px;
       justify-content: start;
        align-items: center;
        width:800px;
        height:250px;
        border:3px solid white;
        margin-left:380px;
        margin-top:40px
    }       

    .bgstyle3 h2 {
    text-align: start;
    padding-right:40px;
    padding-left:40px;
    }

    .bgstyle4 {
        background-color: rgba(255, 255, 255, 0.564);
        display: flex;
        border-radius:10px;
       justify-content: start;
        align-items: center;
        width:800px;
        height:200px;
        border:3px solid white;
        margin-left:610px;
        margin-top:40px
    }   
    .bgstyle4 h2 {
    text-align: start;
    padding-right:40px;
    padding-left:40px;
    }

 